@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    font-family: Ubuntu;
    margin: 0;
}

fieldset {
    width: 25%;
    height: 535px;
    border-radius: 10px;
     border: 1px solid #5ce463;
    box-shadow: 5px 5px 10px #5c0b70;
    margin: auto;
    margin-top: 100px;
    background-color: rgba(124, 226, 99, 0.2);
}

label#titulo {
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

div {
    width: 300px;
    margin: auto;
    
}

label.alinha {
    width: 100%;
    display: block;
    margin-top: 20px;
    
}

input {
    width: 100%;
    height: 30px;
}

input, textarea, button {
    font-family: Ubuntu;
}

textarea {
    height: 150px;
    width: 100%;
    resize: none;
    margin-bottom: 20px;
}
button {
    display: block;
    margin: auto;
    margin-top: 5px;
    width: 350px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #5c0b70;
    background: #dfdcdf;
    color: #5c0b70;
    font-weight: bold;
}