@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body {
    font-family: "Crimson Text"; /*Nem todos os elemtos serão abrangidos pela alteração . 
    cais dos inputs e o textos dos botons  */
    margin: 0;
}

h1 {
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #fff;
    background: #306D29;
    box-shadow: 0 0 5px 5px #E7E1B1;
    margin-bottom: 40px;
    color: #fff;

}

fieldset {
    border: 1px solid #0D530E ;
    border-radius: 15px;
    background: #E7E1B1;
    box-shadow: 5px 5px 5px #0D530E;
    margin: 25px auto;
    height: 250px;
}

label.alinha {
    width: 300px;
    text-align: right;
    display: inline-block;
    margin-bottom: 10px;
}

input, button {
    font-family: "Crimson Text";
}

button {
    font-size: 18px;
    width: 250px;
    height: 40px;
    font-weight: bold;
    margin-top: 25px;
}

button[name="alterar-preco"] {
    margin-top: 130px;
}

/*Alinhando os fieldsets na horizintal usando grid-layout*/
form {
    display: grid; /*transformamos o formulário em uma tabela*/
    grid-template-columns: 1fr 1fr; /*esta propriedade divide a área do formulário em diversas frações, que podem 
    ser combinadas em colunas para posicionar, corretamente, cada firldset*/
    width: 55%;
    margin: auto;
}